# Teste de exploração de dados

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

/Users/hallpaz/Workspace/jupyter_env/lib/python3.6/site-packages/matplotlib/font_manager.py:278: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  'Matplotlib is building the font cache using fc-list. '

In [2]:
# dataframe
df = pd.read_csv("theme_10_electoral_divisions.csv",  encoding = "ISO-8859-1")
df.head()

,CODE,ED_NAME,COUNTY,NUTS_II,NUTS_III,Planning Region,Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Under_15_Years_2011,Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_15_2011,Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_16_2011,Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_17_2011,...,Perc_Persons_15_Plus_By_Highest_Level_Of_Edu_Technical_Or_Vocational_2006,Perc_Persons_15_Plus_By_Highest_Level_Of_Edu_Technical_Or_Vocational_2011,Perc_Persons_15_Plus_By_Highest_Level_Of_Edu_Non_Degree_2006,Perc_Persons_15_Plus_By_Highest_Level_Of_Edu_Non_Degree_2011,Perc_Persons_15_Plus_By_Highest_Level_Of_Edu_Degree_Level_2006,Perc_Persons_15_Plus_By_Highest_Level_Of_Edu_Degree_Level_2011,Perc_Persons_15_Plus_By_Highest_Level_Of_Edu_Post_Grad_Level_2006,Perc_Persons_15_Plus_By_Highest_Level_Of_Edu_Post_Grad_Level_2011,Perc_Persons_15_Plus_By_Highest_Level_Of_Edu_Not_Stated_2006,Perc_Persons_15_Plus_By_Highest_Level_Of_Edu_Not_Stated_2011
0,1,001 Carlow Urban,Carlow,SE,South-East,Southern,230,155,242,174,...,9.79,9.06,7.30,5.43,7.40,8.49,4.63,5.75,5.41,8.85
1,2,002 Graigue Urban,Carlow,SE,South-East,Southern,89,53,80,59,...,10.87,10.32,7.50,6.69,4.33,7.14,2.60,2.83,5.19,9.30
2,3,003 Clonmore,Carlow,SE,South-East,Southern,30,16,35,27,...,12.68,9.84,13.80,8.20,5.92,13.93,2.25,3.55,3.94,3.55
3,4,004 Hacketstown,Carlow,SE,South-East,Southern,55,31,71,62,...,9.68,8.97,4.84,7.69,4.70,8.26,2.28,3.28,1.61,10.68
4,5,005 Haroldstown,Carlow,SE,South-East,Southern,13,6,11,15,...,10.47,8.77,12.21,13.45,5.81,10.53,1.16,2.34,3.49,3.51

In [3]:
df.index

RangeIndex(start=0, stop=3406, step=1)

## Seleção de dados (colunas para trabalhar)

In [4]:
list(df)

['CODE',
 'ED_NAME',
 'COUNTY',
 'NUTS_II',
 'NUTS_III',
 'Planning Region',
 'Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Under_15_Years_2011',
 'Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_15_2011',
 'Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_16_2011',
 'Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_17_2011',
 'Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_18_2011',
 'Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_19_2011',
 'Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_20_2011',
 'Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_21_And_over_2011',
 'Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Not_Stated_2011',
 'Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Total_2011',
 'Perc_Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Under_15_Years_2011',
 'Perc_Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_15_2011',
 'Perc_Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_16_2011',
 'Perc_Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_17_2011',
 'Perc_Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_18_2011',
 'Perc_Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_19_2011',
 'Perc_Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_20_2011',
 'Perc_Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_21_And_over_2011',
 'Perc_Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Not_Stated_2011',
 'Pop_Aged_15_And_Over_Edu_Not_Ceased_Total_At_School_Uni_2006',
 'Pop_Aged_15_And_Over_Edu_Not_Ceased_Total_At_School_Uni_2011',
 'Pop_Aged_15_And_Over_Edu_Not_Ceased_Other_2006',
 'Pop_Aged_15_And_Over_Edu_Not_Ceased_Other_2011',
 'Perc_Pop_Aged_15_And_Over_Edu_Not_Ceased_Total_At_School_Uni_2006',
 'Perc_Pop_Aged_15_And_Over_Edu_Not_Ceased_Total_At_School_Uni_2011',
 'Perc_Pop_Aged_15_And_Over_Edu_Not_Ceased_Other_2006',
 'Perc_Pop_Aged_15_And_Over_Edu_Not_Ceased_Other_2011',
 'Persons_Aged_15_And_Over_By_Field_Of_Study_Edu_Teacher_Training_2011',
 'Persons_Aged_15_And_Over_By_Field_Of_Study_Arts_2011',
 'Persons_Aged_15_And_Over_By_Field_Of_Study_Humanities_2011',
 'Persons_Aged_15_And_Over_By_Field_Of_Study_SocialScience_Business_Law_2011',
 'Persons_Aged_15_And_Over_By_Field_Of_Study_Science_Mathematics_Computing_2011',
 'Persons_Aged_15_And_Over_By_Field_Of_Study_Engineering_Manufacturing_Construction_2011',
 'Persons_Aged_15_And_Over_By_Field_Of_Study_Agriculture_Veterinary_2011',
 'Persons_Aged_15_And_Over_By_Field_Of_Study_Health_And_Welfare_2011',
 'Persons_Aged_15_And_Over_By_Field_Of_Study_Services_2011',
 'Persons_Aged_15_And_Over_By_Field_Of_Study_Other_Services_2011',
 'Persons_Aged_15_And_Over_By_Field_Of_Study_Not_Stated_Unknown_2011',
 'Persons_Aged_15_And_Over_By_Field_Of_Study_Total_2011',
 'Perc_Persons_Aged_15_And_Over_By_Field_Of_Study_Edu_Teacher_Training_2011',
 'Perc_Persons_Aged_15_And_Over_By_Field_Of_Study_Arts_2011',
 'Perc_Persons_Aged_15_And_Over_By_Field_Of_Study_Humanities_2011',
 'Perc_Persons_Aged_15_And_Over_By_Field_Of_Study_SocialScience_Business_Law_2011',
 'Perc_Persons_Aged_15_And_Over_By_Field_Of_Study_Science_Mathematics_Computing_2011',
 'Perc_Persons_Aged_15_And_Over_By_Field_Of_Study_Engineering_Manufacturing_Construction_2011',
 'Perc_Persons_Aged_15_And_Over_By_Field_Of_Study_Agriculture_Veterinary_2011',
 'Perc_Persons_Aged_15_And_Over_By_Field_Of_Study_Health_And_Welfare_2011',
 'Perc_Persons_Aged_15_And_Over_By_Field_Of_Study_Services_2011',
 'Perc_Persons_Aged_15_And_Over_By_Field_Of_Study_Other_Services_2011',
 'Perc_Persons_Aged_15_And_Over_By_Field_Of_Study_Not_Stated_Unknown_2011',
 'Persons_15_Plus_By_Highest_Level_Of_Edu_No_Formal_Edu_2006',
 'Persons_15_Plus_By_Highest_Level_Of_Edu_No_Formal_Edu_2011',
 'Persons_15_Plus_By_Highest_Level_Of_Edu_Primary_2006',
 'Persons_15_Plus_By_Highest_Level_Of_Edu_Primary_2011',
 'Persons_15_Plus_By_Highest_Level_Of_Edu_Secondary_2006',
 'Persons_15_Plus_By_Highest_Level_Of_Edu_Secondary_2011',
 'Persons_15_Plus_By_Highest_Level_Of_Edu_Technical_Or_Vocational_2006',
 'Persons_15_Plus_By_Highest_Level_Of_Edu_Technical_Or_Vocational_2011',
 'Persons_15_Plus_By_Highest_Level_Of_Edu_Non_Degree_2006',
 'Persons_15_Plus_By_Highest_Level_Of_Edu_Non_Degree_2011',
 'Persons_15_Plus_By_Highest_Level_Of_Edu_Degree_Level_2006',
 'Persons_15_Plus_By_Highest_Level_Of_Edu_Degree_Level_2011',
 'Persons_15_Plus_By_Highest_Level_Of_Edu_Post_Grad_Level_2006',
 'Persons_15_Plus_By_Highest_Level_Of_Edu_Post_Grad_Level_2011',
 'Persons_15_Plus_By_Highest_Level_Of_Edu_Not_Stated_2006',
 'Persons_15_Plus_By_Highest_Level_Of_Edu_Not_Stated_2011',
 'Persons_15_Plus_By_Highest_Level_Of_Edu_Total_2006',
 'Persons_15_Plus_By_Highest_Level_Of_Edu_Total_2011',
 'Perc_Persons_15_Plus_By_Highest_Level_Of_Edu_No_Formal_Edu_2006',
 'Perc_Persons_15_Plus_By_Highest_Level_Of_Edu_No_Formal_Edu_2011',
 'Perc_Persons_15_Plus_By_Highest_Level_Of_Edu_Primary_2006',
 'Perc_Persons_15_Plus_By_Highest_Level_Of_Edu_Primary_2011',
 'Perc_Persons_15_Plus_By_Highest_Level_Of_Edu_Secondary_2006',
 'Perc_Persons_15_Plus_By_Highest_Level_Of_Edu_Secondary_2011',
 'Perc_Persons_15_Plus_By_Highest_Level_Of_Edu_Technical_Or_Vocational_2006',
 'Perc_Persons_15_Plus_By_Highest_Level_Of_Edu_Technical_Or_Vocational_2011',
 'Perc_Persons_15_Plus_By_Highest_Level_Of_Edu_Non_Degree_2006',
 'Perc_Persons_15_Plus_By_Highest_Level_Of_Edu_Non_Degree_2011',
 'Perc_Persons_15_Plus_By_Highest_Level_Of_Edu_Degree_Level_2006',
 'Perc_Persons_15_Plus_By_Highest_Level_Of_Edu_Degree_Level_2011',
 'Perc_Persons_15_Plus_By_Highest_Level_Of_Edu_Post_Grad_Level_2006',
 'Perc_Persons_15_Plus_By_Highest_Level_Of_Edu_Post_Grad_Level_2011',
 'Perc_Persons_15_Plus_By_Highest_Level_Of_Edu_Not_Stated_2006',
 'Perc_Persons_15_Plus_By_Highest_Level_Of_Edu_Not_Stated_2011']

In [5]:
unused = ['Perc_Pop_Aged_15_And_Over_Edu_Not_Ceased_Total_At_School_Uni_2006',
          'Perc_Pop_Aged_15_And_Over_Edu_Not_Ceased_Total_At_School_Uni_2011',
          'Perc_Pop_Aged_15_And_Over_Edu_Not_Ceased_Other_2006',
          'Perc_Pop_Aged_15_And_Over_Edu_Not_Ceased_Other_2011']

df = df.drop(unused, axis=1)
df.tail()
# list(df)

,CODE,ED_NAME,COUNTY,NUTS_II,NUTS_III,Planning Region,Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Under_15_Years_2011,Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_15_2011,Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_16_2011,Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_17_2011,...,Perc_Persons_15_Plus_By_Highest_Level_Of_Edu_Technical_Or_Vocational_2006,Perc_Persons_15_Plus_By_Highest_Level_Of_Edu_Technical_Or_Vocational_2011,Perc_Persons_15_Plus_By_Highest_Level_Of_Edu_Non_Degree_2006,Perc_Persons_15_Plus_By_Highest_Level_Of_Edu_Non_Degree_2011,Perc_Persons_15_Plus_By_Highest_Level_Of_Edu_Degree_Level_2006,Perc_Persons_15_Plus_By_Highest_Level_Of_Edu_Degree_Level_2011,Perc_Persons_15_Plus_By_Highest_Level_Of_Edu_Post_Grad_Level_2006,Perc_Persons_15_Plus_By_Highest_Level_Of_Edu_Post_Grad_Level_2011,Perc_Persons_15_Plus_By_Highest_Level_Of_Edu_Not_Stated_2006,Perc_Persons_15_Plus_By_Highest_Level_Of_Edu_Not_Stated_2011
3401,3408,069 Tehallan,Monaghan,BMW,Border,North and West,60,69,66,45,...,7.91,9.31,12.29,6.43,8.92,13.20,4.21,6.26,1.68,1.69
3402,3409,070 Tullycorbet,Monaghan,BMW,Border,North and West,84,55,73,44,...,5.05,6.64,7.57,5.49,6.19,10.30,5.73,4.58,3.21,0.46
3403,25701,701 Ballynakill (part)(070)/Kilbarry (part)(074),Waterford County,SE,South-East,Southern,10,20,38,34,...,7.42,5.58,12.09,5.81,14.56,16.05,5.77,8.60,3.30,17.44
3404,27701,702 Bencorr(022)/Derrycunlagh(028)/Derrylea(027),Galway County,BMW,West,North and West,25,21,26,29,...,7.14,9.32,10.85,8.31,10.32,17.13,6.08,11.34,13.49,4.79
3405,28702,703 Aghalateeve(027)/Aghavoghill(029)/Aghanlis...,Leitrim,BMW,Border,North and West,41,21,36,36,...,10.48,8.54,6.98,5.70,7.30,12.66,6.03,5.06,1.90,6.01

In [6]:
df

,CODE,ED_NAME,COUNTY,NUTS_II,NUTS_III,Planning Region,Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Under_15_Years_2011,Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_15_2011,Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_16_2011,Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_17_2011,...,Perc_Persons_15_Plus_By_Highest_Level_Of_Edu_Technical_Or_Vocational_2006,Perc_Persons_15_Plus_By_Highest_Level_Of_Edu_Technical_Or_Vocational_2011,Perc_Persons_15_Plus_By_Highest_Level_Of_Edu_Non_Degree_2006,Perc_Persons_15_Plus_By_Highest_Level_Of_Edu_Non_Degree_2011,Perc_Persons_15_Plus_By_Highest_Level_Of_Edu_Degree_Level_2006,Perc_Persons_15_Plus_By_Highest_Level_Of_Edu_Degree_Level_2011,Perc_Persons_15_Plus_By_Highest_Level_Of_Edu_Post_Grad_Level_2006,Perc_Persons_15_Plus_By_Highest_Level_Of_Edu_Post_Grad_Level_2011,Perc_Persons_15_Plus_By_Highest_Level_Of_Edu_Not_Stated_2006,Perc_Persons_15_Plus_By_Highest_Level_Of_Edu_Not_Stated_2011
0,1,001 Carlow Urban,Carlow,SE,South-East,Southern,230,155,242,174,...,9.79,9.06,7.30,5.43,7.40,8.49,4.63,5.75,5.41,8.85
1,2,002 Graigue Urban,Carlow,SE,South-East,Southern,89,53,80,59,...,10.87,10.32,7.50,6.69,4.33,7.14,2.60,2.83,5.19,9.30
2,3,003 Clonmore,Carlow,SE,South-East,Southern,30,16,35,27,...,12.68,9.84,13.80,8.20,5.92,13.93,2.25,3.55,3.94,3.55
3,4,004 Hacketstown,Carlow,SE,South-East,Southern,55,31,71,62,...,9.68,8.97,4.84,7.69,4.70,8.26,2.28,3.28,1.61,10.68
4,5,005 Haroldstown,Carlow,SE,South-East,Southern,13,6,11,15,...,10.47,8.77,12.21,13.45,5.81,10.53,1.16,2.34,3.49,3.51
5,6,006 Kineagh,Carlow,SE,South-East,Southern,25,14,20,22,...,8.29,9.43,8.78,9.43,6.34,9.43,2.44,3.30,3.90,2.83
6,7,007 Rahill,Carlow,SE,South-East,Southern,40,22,43,42,...,8.01,9.53,9.95,7.98,8.98,11.53,3.16,3.55,4.13,4.43
7,8,008 Rathvilly,Carlow,SE,South-East,Southern,48,25,59,58,...,8.75,11.27,7.00,6.55,4.28,7.45,2.14,3.09,4.09,7.09
8,9,009 Tiknock,Carlow,SE,South-East,Southern,17,17,24,16,...,9.29,10.45,8.41,7.27,7.96,11.82,2.65,3.18,5.31,5.91
9,10,010 Williamstown,Carlow,SE,South-East,Southern,15,11,31,26,...,6.57,5.21,15.15,7.58,12.63,20.85,5.05,5.21,1.01,2.37
10,11,011 Agha,Carlow,SE,South-East,Southern,12,10,23,20,...,8.33,8.73,13.89,9.17,8.33,15.72,4.63,7.42,4.17,3.06
11,12,012 Ballinacarrig,Carlow,SE,South-East,Southern,24,26,53,41,...,9.58,10.11,17.37,7.54,12.82,20.97,6.33,7.24,3.25,3.92
12,13,013 Ballintemple,Carlow,SE,South-East,Southern,57,39,47,34,...,7.48,11.32,11.21,7.01,8.41,12.40,4.98,5.12,0.31,1.08
13,14,014 Ballon,Carlow,SE,South-East,Southern,39,22,42,39,...,12.86,12.91,11.75,7.00,6.65,12.25,2.44,3.94,6.87,3.06
14,15,015 Ballyellin,Carlow,SE,South-East,Southern,45,11,46,30,...,8.66,11.76,11.81,9.93,5.51,10.29,2.76,2.57,5.51,2.57
15,16,016 Ballymoon,Carlow,SE,South-East,Southern,11,4,29,15,...,7.03,7.46,12.97,11.84,6.49,10.09,3.24,5.26,2.16,6.58
16,17,017 Borris,Carlow,SE,South-East,Southern,111,40,115,73,...,10.44,11.91,11.59,6.56,7.87,11.38,2.43,4.02,1.43,0.54
17,18,018 Burton Hall,Carlow,SE,South-East,Southern,15,6,25,16,...,10.37,6.83,9.96,6.83,15.77,21.50,8.30,11.26,6.22,4.78
18,19,019 Carlow Rural,Carlow,SE,South-East,Southern,422,309,611,637,...,10.93,10.53,12.34,6.81,11.95,15.75,6.90,7.50,5.37,5.93
19,20,020 Clogrenan,Carlow,SE,South-East,Southern,55,34,77,48,...,10.06,10.00,8.73,7.23,4.74,11.08,3.42,4.46,4.93,5.23
20,21,021 Clonegall,Carlow,SE,South-East,Southern,96,73,83,58,...,6.45,8.64,11.04,5.30,6.28,13.48,3.40,3.18,3.06,1.36
21,22,022 Corries,Carlow,SE,South-East,Southern,38,27,44,39,...,9.54,8.47,11.85,7.38,6.36,12.84,2.02,3.01,5.49,2.19
22,23,023 Cranemore,Carlow,SE,South-East,Southern,67,34,54,49,...,11.96,12.69,9.89,7.76,9.25,12.98,3.35,5.50,3.19,3.67
23,24,024 Fennagh,Carlow,SE,South-East,Southern,31,21,38,34,...,9.12,7.84,10.88,6.32,10.00,16.12,3.53,4.14,0.88,4.14
24,25,025 Garryhill,Carlow,SE,South-East,Southern,25,20,35,30,...,7.39,7.75,7.92,7.75,9.50,11.37,3.17,4.13,2.11,5.17
25,26,026 Grangeford,Carlow,SE,South-East,Southern,17,15,32,20,...,9.83,8.61,8.97,10.60,11.54,16.23,5.13,6.29,0.85,2.98
26,27,027 Johnstown,Carlow,SE,South-East,Southern,20,17,34,30,...,11.29,9.64,15.98,7.55,8.26,15.63,5.79,5.99,6.06,3.91
27,28,028 Kellistown,Carlow,SE,South-East,Southern,35,23,58,46,...,8.64,6.79,12.32,8.85,9.92,16.75,6.40,6.95,5.76,5.06
28,29,029 Kilbride,Carlow,SE,South-East,Southern,29,17,40,20,...,8.60,8.25,7.89,6.03,8.24,13.33,3.94,6.35,0.00,3.49
29,30,030 Killedmond,Carlow,SE,South-East,Southern,37,17,33,25,...,8.36,6.94,11.27,6.25,10.18,16.67,2.91,4.86,3.64,4.17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3376,3383,044 Lisnaveane,Monaghan,BMW,Border,North and West,51,35,46,21,...,4.10,9.02,10.58,6.77,3.07,8.65,4.10,1.88,2.39,0.00
3377,3384,045 Newbliss,Monaghan,BMW,Border,North and West,62,54,100,54,...,9.15,11.56,11.64,4.77,7.90,12.48,2.91,4.77,0.42,0.73
3378,3385,046 St. Tierney,Monaghan,BMW,Border,North and West,26,14,29,29,...,7.22,10.47,7.98,7.75,6.46,9.30,4.56,4.65,4.56,1.55
3379,3386,047 Anketell Grove,Monaghan,BMW,Border,North and West,60,50,75,37,...,4.76,7.81,12.05,6.03,5.95,13.84,4.02,3.42,8.78,5.34
3380,3387,048 Bellanode,Monaghan,BMW,Border,North and West,110,58,87,77,...,7.31,10.58,11.01,4.25,11.34,16.15,5.56,5.48,5.34,3.02
3381,3388,049 Bragan,Monaghan,BMW,Border,North and West,29,14,20,10,...,8.47,10.36,4.23,5.70,1.59,8.81,1.06,2.59,6.35,5.18
3382,3389,050 Caddagh,Monaghan,BMW,Border,North and West,46,29,61,25,...,4.70,8.05,9.40,6.50,8.78,13.62,3.13,4.33,2.82,1.24
3383,3390,051 Castleshane,Monaghan,BMW,Border,North and West,42,34,77,45,...,8.10,8.06,11.40,6.13,6.78,11.61,3.97,5.97,4.46,1.77
3384,3391,052 Clones,Monaghan,BMW,Border,North and West,42,43,33,21,...,6.12,9.97,10.20,6.85,6.12,10.28,3.40,3.43,7.48,5.92
3385,3392,053 Clontibret,Monaghan,BMW,Border,North and West,73,57,50,31,...,6.49,7.94,10.46,4.72,7.11,12.45,2.09,4.08,1.05,1.07
3386,3393,054 Derrygorry,Monaghan,BMW,Border,North and West,13,11,21,19,...,9.63,5.79,6.42,5.79,3.21,8.95,1.07,5.26,4.28,5.79
3387,3394,055 Drumhillagh,Monaghan,BMW,Border,North and West,90,49,77,63,...,7.37,9.89,9.34,6.52,6.14,8.09,1.72,3.82,7.37,0.22
3388,3395,056 Drumsnat,Monaghan,BMW,Border,North and West,78,66,86,51,...,8.42,10.53,10.07,4.72,6.93,11.64,2.97,4.72,1.98,2.20
3389,3396,057 Emyvale,Monaghan,BMW,Border,North and West,102,67,78,77,...,8.86,13.23,7.70,4.83,6.16,9.67,2.57,2.29,3.47,4.33
3390,3397,058 Enagh,Monaghan,BMW,Border,North and West,21,26,28,22,...,10.49,7.65,13.89,8.56,10.49,15.29,3.09,5.50,3.40,2.45
3391,3398,059 Figullar,Monaghan,BMW,Border,North and West,21,16,23,20,...,7.54,7.41,13.49,8.75,8.33,13.47,3.57,5.72,2.38,4.38
3392,3399,060 Glaslough,Monaghan,BMW,Border,North and West,31,33,58,31,...,5.79,8.09,10.98,5.76,8.38,14.39,3.79,6.29,6.19,5.94
3393,3400,061 Killylough,Monaghan,BMW,Border,North and West,68,29,47,18,...,8.22,6.91,8.75,5.88,6.10,12.53,3.45,3.84,3.98,2.05
3394,3401,062 Kilmore,Monaghan,BMW,Border,North and West,40,21,36,29,...,4.18,6.74,10.70,4.78,10.44,14.89,3.92,3.93,1.31,2.53
3395,3402,063 Monaghan Rural,Monaghan,BMW,Border,North and West,336,278,419,318,...,12.42,12.23,9.70,4.54,10.28,13.69,5.03,5.52,2.52,3.45
3396,3403,064 Rackwallace,Monaghan,BMW,Border,North and West,83,64,73,75,...,5.74,6.10,10.93,6.44,7.41,15.93,4.63,4.07,1.85,2.88
3397,3404,065 Scotstown,Monaghan,BMW,Border,North and West,67,59,63,53,...,8.71,10.53,11.57,6.84,7.00,12.72,4.14,4.10,1.57,3.83
3398,3405,066 Shanmullagh,Monaghan,BMW,Border,North and West,27,9,18,11,...,8.86,5.56,6.96,6.94,3.16,9.03,3.16,3.47,3.80,4.17
3399,3406,067 Sheskin,Monaghan,BMW,Border,North and West,44,39,51,34,...,5.80,5.11,7.92,8.03,2.64,9.73,3.43,2.19,7.39,5.84
3400,3407,068 Tedavnet,Monaghan,BMW,Border,North and West,68,55,75,35,...,7.49,10.45,9.36,4.70,7.12,13.24,3.93,3.14,6.37,3.83
3401,3408,069 Tehallan,Monaghan,BMW,Border,North and West,60,69,66,45,...,7.91,9.31,12.29,6.43,8.92,13.20,4.21,6.26,1.68,1.69
3402,3409,070 Tullycorbet,Monaghan,BMW,Border,North and West,84,55,73,44,...,5.05,6.64,7.57,5.49,6.19,10.30,5.73,4.58,3.21,0.46
3403,25701,701 Ballynakill (part)(070)/Kilbarry (part)(074),Waterford County,SE,South-East,Southern,10,20,38,34,...,7.42,5.58,12.09,5.81,14.56,16.05,5.77,8.60,3.30,17.44
3404,27701,702 Bencorr(022)/Derrycunlagh(028)/Derrylea(027),Galway County,BMW,West,North and West,25,21,26,29,...,7.14,9.32,10.85,8.31,10.32,17.13,6.08,11.34,13.49,4.79
3405,28702,703 Aghalateeve(027)/Aghavoghill(029)/Aghanlis...,Leitrim,BMW,Border,North and West,41,21,36,36,...,10.48,8.54,6.98,5.70,7.30,12.66,6.03,5.06,1.90,6.01

In [7]:
df.dropna(how='any')
# Novo dataframe a partir de seleção de colunas
df_ages = df.loc[:,['ED_NAME',
                'COUNTY',
                'NUTS_II',
                'NUTS_III',
                'Planning Region',
                'Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Under_15_Years_2011',
                'Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_15_2011',
                'Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_16_2011',
                'Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_17_2011',
                'Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_18_2011',
                'Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_19_2011',
                'Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_20_2011',
                'Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_21_And_over_2011',
                'Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Not_Stated_2011',
                'Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Total_2011',
                'Perc_Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Under_15_Years_2011',
                'Perc_Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_15_2011',
                'Perc_Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_16_2011',
                'Perc_Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_17_2011',
                'Perc_Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_18_2011',
                'Perc_Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_19_2011',
                'Perc_Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_20_2011',
                'Perc_Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_21_And_over_2011',
                'Perc_Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Not_Stated_2011']
            ]
df_ages

,ED_NAME,COUNTY,NUTS_II,NUTS_III,Planning Region,Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Under_15_Years_2011,Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_15_2011,Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_16_2011,Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_17_2011,Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_18_2011,...,Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Total_2011,Perc_Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Under_15_Years_2011,Perc_Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_15_2011,Perc_Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_16_2011,Perc_Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_17_2011,Perc_Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_18_2011,Perc_Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_19_2011,Perc_Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_20_2011,Perc_Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_21_And_over_2011,Perc_Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Not_Stated_2011
0,001 Carlow Urban,Carlow,SE,South-East,Southern,230,155,242,174,266,...,2781,8.27,5.57,8.70,6.26,9.56,3.70,3.13,15.25,39.55
1,002 Graigue Urban,Carlow,SE,South-East,Southern,89,53,80,59,78,...,882,10.09,6.01,9.07,6.69,8.84,4.20,1.70,11.56,41.84
2,003 Clonmore,Carlow,SE,South-East,Southern,30,16,35,27,32,...,366,8.20,4.37,9.56,7.38,8.74,5.19,4.64,11.48,40.44
3,004 Hacketstown,Carlow,SE,South-East,Southern,55,31,71,62,71,...,702,7.83,4.42,10.11,8.83,10.11,2.56,2.42,12.68,41.03
4,005 Haroldstown,Carlow,SE,South-East,Southern,13,6,11,15,18,...,171,7.60,3.51,6.43,8.77,10.53,3.51,1.75,11.70,46.20
5,006 Kineagh,Carlow,SE,South-East,Southern,25,14,20,22,22,...,212,11.79,6.60,9.43,10.38,10.38,5.19,4.25,10.38,31.60
6,007 Rahill,Carlow,SE,South-East,Southern,40,22,43,42,49,...,451,8.87,4.88,9.53,9.31,10.86,6.43,3.33,12.42,34.37
7,008 Rathvilly,Carlow,SE,South-East,Southern,48,25,59,58,58,...,550,8.73,4.55,10.73,10.55,10.55,4.55,3.64,9.64,37.09
8,009 Tiknock,Carlow,SE,South-East,Southern,17,17,24,16,19,...,220,7.73,7.73,10.91,7.27,8.64,9.09,4.55,12.73,31.36
9,010 Williamstown,Carlow,SE,South-East,Southern,15,11,31,26,18,...,211,7.11,5.21,14.69,12.32,8.53,4.27,1.42,17.06,29.38
10,011 Agha,Carlow,SE,South-East,Southern,12,10,23,20,28,...,229,5.24,4.37,10.04,8.73,12.23,4.80,2.62,18.34,33.62
11,012 Ballinacarrig,Carlow,SE,South-East,Southern,24,26,53,41,68,...,663,3.62,3.92,7.99,6.18,10.26,5.13,3.47,23.98,35.44
12,013 Ballintemple,Carlow,SE,South-East,Southern,57,39,47,34,65,...,371,15.36,10.51,12.67,9.16,17.52,5.93,2.96,16.17,9.70
13,014 Ballon,Carlow,SE,South-East,Southern,39,22,42,39,59,...,457,8.53,4.81,9.19,8.53,12.91,6.13,4.38,17.29,28.23
14,015 Ballyellin,Carlow,SE,South-East,Southern,45,11,46,30,45,...,272,16.54,4.04,16.91,11.03,16.54,5.88,5.51,15.07,8.46
15,016 Ballymoon,Carlow,SE,South-East,Southern,11,4,29,15,27,...,228,4.82,1.75,12.72,6.58,11.84,4.39,2.63,13.16,42.11
16,017 Borris,Carlow,SE,South-East,Southern,111,40,115,73,123,...,747,14.86,5.35,15.39,9.77,16.47,5.76,5.49,17.14,9.77
17,018 Burton Hall,Carlow,SE,South-East,Southern,15,6,25,16,32,...,293,5.12,2.05,8.53,5.46,10.92,2.73,6.48,26.28,32.42
18,019 Carlow Rural,Carlow,SE,South-East,Southern,422,309,611,637,1057,...,8415,5.01,3.67,7.26,7.57,12.56,5.20,4.61,21.81,32.30
19,020 Clogrenan,Carlow,SE,South-East,Southern,55,34,77,48,66,...,650,8.46,5.23,11.85,7.38,10.15,4.00,4.46,14.00,34.46
20,021 Clonegall,Carlow,SE,South-East,Southern,96,73,83,58,76,...,660,14.55,11.06,12.58,8.79,11.52,4.70,3.79,18.03,15.00
21,022 Corries,Carlow,SE,South-East,Southern,38,27,44,39,56,...,366,10.38,7.38,12.02,10.66,15.30,4.10,2.46,17.76,19.95
22,023 Cranemore,Carlow,SE,South-East,Southern,67,34,54,49,110,...,709,9.45,4.80,7.62,6.91,15.51,4.94,5.50,18.05,27.22
23,024 Fennagh,Carlow,SE,South-East,Southern,31,21,38,34,57,...,459,6.75,4.58,8.28,7.41,12.42,3.70,4.14,15.69,37.04
24,025 Garryhill,Carlow,SE,South-East,Southern,25,20,35,30,46,...,387,6.46,5.17,9.04,7.75,11.89,2.58,3.36,14.99,38.76
25,026 Grangeford,Carlow,SE,South-East,Southern,17,15,32,20,20,...,302,5.63,4.97,10.60,6.62,6.62,3.64,4.97,20.53,36.42
26,027 Johnstown,Carlow,SE,South-East,Southern,20,17,34,30,39,...,384,5.21,4.43,8.85,7.81,10.16,5.47,4.43,16.41,37.24
27,028 Kellistown,Carlow,SE,South-East,Southern,35,23,58,46,89,...,633,5.53,3.63,9.16,7.27,14.06,3.95,3.32,18.17,34.91
28,029 Kilbride,Carlow,SE,South-East,Southern,29,17,40,20,44,...,315,9.21,5.40,12.70,6.35,13.97,3.81,4.44,18.10,26.03
29,030 Killedmond,Carlow,SE,South-East,Southern,37,17,33,25,32,...,288,12.85,5.90,11.46,8.68,11.11,4.86,4.17,20.83,20.14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3376,044 Lisnaveane,Monaghan,BMW,Border,North and West,51,35,46,21,38,...,266,19.17,13.16,17.29,7.89,14.29,3.76,5.26,10.90,8.27
3377,045 Newbliss,Monaghan,BMW,Border,North and West,62,54,100,54,85,...,545,11.38,9.91,18.35,9.91,15.60,5.69,5.32,20.37,3.49
3378,046 St. Tierney,Monaghan,BMW,Border,North and West,26,14,29,29,50,...,258,10.08,5.43,11.24,11.24,19.38,2.71,6.20,14.34,19.38
3379,047 Anketell Grove,Monaghan,BMW,Border,North and West,60,50,75,37,80,...,730,8.22,6.85,10.27,5.07,10.96,4.79,4.11,11.10,38.63
3380,048 Bellanode,Monaghan,BMW,Border,North and West,110,58,87,77,91,...,1059,10.39,5.48,8.22,7.27,8.59,2.17,2.83,17.00,38.05
3381,049 Bragan,Monaghan,BMW,Border,North and West,29,14,20,10,31,...,193,15.03,7.25,10.36,5.18,16.06,2.07,2.59,8.29,33.16
3382,050 Caddagh,Monaghan,BMW,Border,North and West,46,29,61,25,52,...,323,14.24,8.98,18.89,7.74,16.10,2.79,1.24,16.41,13.62
3383,051 Castleshane,Monaghan,BMW,Border,North and West,42,34,77,45,67,...,620,6.77,5.48,12.42,7.26,10.81,4.35,4.84,13.06,35.00
3384,052 Clones,Monaghan,BMW,Border,North and West,42,43,33,21,22,...,321,13.08,13.40,10.28,6.54,6.85,4.67,4.05,13.40,27.73
3385,053 Clontibret,Monaghan,BMW,Border,North and West,73,57,50,31,91,...,466,15.67,12.23,10.73,6.65,19.53,6.44,3.65,17.81,7.30
3386,054 Derrygorry,Monaghan,BMW,Border,North and West,13,11,21,19,21,...,190,6.84,5.79,11.05,10.00,11.05,2.63,3.16,11.05,38.42
3387,055 Drumhillagh,Monaghan,BMW,Border,North and West,90,49,77,63,65,...,445,20.22,11.01,17.30,14.16,14.61,2.92,4.27,13.03,2.47
3388,056 Drumsnat,Monaghan,BMW,Border,North and West,78,66,86,51,80,...,636,12.26,10.38,13.52,8.02,12.58,4.25,2.20,16.04,20.75
3389,057 Emyvale,Monaghan,BMW,Border,North and West,102,67,78,77,129,...,786,12.98,8.52,9.92,9.80,16.41,4.45,4.96,15.39,17.56
3390,058 Enagh,Monaghan,BMW,Border,North and West,21,26,28,22,34,...,327,6.42,7.95,8.56,6.73,10.40,3.67,4.59,17.13,34.56
3391,059 Figullar,Monaghan,BMW,Border,North and West,21,16,23,20,26,...,297,7.07,5.39,7.74,6.73,8.75,4.38,4.38,15.82,39.73
3392,060 Glaslough,Monaghan,BMW,Border,North and West,31,33,58,31,58,...,556,5.58,5.94,10.43,5.58,10.43,2.52,2.70,16.55,40.29
3393,061 Killylough,Monaghan,BMW,Border,North and West,68,29,47,18,46,...,391,17.39,7.42,12.02,4.60,11.76,3.07,4.09,13.55,26.09
3394,062 Kilmore,Monaghan,BMW,Border,North and West,40,21,36,29,48,...,356,11.24,5.90,10.11,8.15,13.48,4.49,2.53,16.29,27.81
3395,063 Monaghan Rural,Monaghan,BMW,Border,North and West,336,278,419,318,627,...,3966,8.47,7.01,10.56,8.02,15.81,4.64,4.74,17.07,23.68
3396,064 Rackwallace,Monaghan,BMW,Border,North and West,83,64,73,75,98,...,590,14.07,10.85,12.37,12.71,16.61,4.41,4.75,18.81,5.42
3397,065 Scotstown,Monaghan,BMW,Border,North and West,67,59,63,53,82,...,731,9.17,8.07,8.62,7.25,11.22,2.74,2.87,13.00,37.07
3398,066 Shanmullagh,Monaghan,BMW,Border,North and West,27,9,18,11,15,...,144,18.75,6.25,12.50,7.64,10.42,2.08,2.78,6.25,33.33
3399,067 Sheskin,Monaghan,BMW,Border,North and West,44,39,51,34,35,...,411,10.71,9.49,12.41,8.27,8.52,1.70,1.95,10.95,36.01
3400,068 Tedavnet,Monaghan,BMW,Border,North and West,68,55,75,35,97,...,574,11.85,9.58,13.07,6.10,16.90,3.31,2.96,13.07,23.17
3401,069 Tehallan,Monaghan,BMW,Border,North and West,60,69,66,45,87,...,591,10.15,11.68,11.17,7.61,14.72,4.91,4.40,18.61,16.75
3402,070 Tullycorbet,Monaghan,BMW,Border,North and West,84,55,73,44,63,...,437,19.22,12.59,16.70,10.07,14.42,3.66,3.43,16.02,3.89
3403,701 Ballynakill (part)(070)/Kilbarry (part)(074),Waterford County,SE,South-East,Southern,10,20,38,34,43,...,430,2.33,4.65,8.84,7.91,10.00,3.02,6.28,22.79,34.19
3404,702 Bencorr(022)/Derrycunlagh(028)/Derrylea(027),Galway County,BMW,West,North and West,25,21,26,29,42,...,397,6.30,5.29,6.55,7.30,10.58,4.28,4.79,23.17,31.74
3405,703 Aghalateeve(027)/Aghavoghill(029)/Aghanlis...,Leitrim,BMW,Border,North and West,41,21,36,36,28,...,316,12.97,6.65,11.39,11.39,8.86,2.85,2.85,14.56,28.48

In [8]:
df_ages.groupby('COUNTY').sum()

,Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Under_15_Years_2011,Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_15_2011,Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_16_2011,Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_17_2011,Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_18_2011,Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_19_2011,Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_20_2011,Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_21_And_over_2011,Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Not_Stated_2011,Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Total_2011,Perc_Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Under_15_Years_2011,Perc_Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_15_2011,Perc_Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_16_2011,Perc_Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_17_2011,Perc_Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_18_2011,Perc_Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_19_2011,Perc_Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_20_2011,Perc_Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_21_And_over_2011,Perc_Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Not_Stated_2011
COUNTY,,,,,,,,,,,,,,,,,,,
Carlow,2642,1676,3146,2740,4192,1649,1379,5864,11942,35230,462.92,277.30,515.88,426.48,641.14,247.49,203.70,840.70,1784.39
Cavan,4595,2525,4404,3608,5436,2228,1998,7259,15423,47476,979.17,506.66,885.93,670.75,978.23,397.32,365.60,1222.99,2893.44
Clare,5054,3029,6049,6332,10413,3411,3102,14827,24704,76921,1185.80,628.56,1272.11,1125.58,1974.55,610.43,572.03,2718.93,5012.07
Cork City,6401,4590,7201,5680,8258,2847,2473,17379,25608,80437,606.62,404.83,639.90,498.59,711.44,250.72,216.46,1633.35,2438.02
Cork County,15457,11123,21561,19833,32946,13061,11501,58648,77411,261541,2525.81,1593.56,2974.30,2359.58,3965.28,1566.62,1366.46,6479.68,9568.75
Donegal,15178,7916,11320,8670,10435,3684,3522,16883,28135,105743,2348.12,1150.51,1626.62,1186.80,1437.24,494.70,462.86,2105.47,4087.87
Dublin City,36650,18766,26796,24211,34571,11368,10670,96134,100053,359219,1756.56,888.81,1245.80,1111.70,1566.28,505.43,467.01,4116.77,4541.71
Dun Laoghaire-Rathdown,5869,3960,7944,9141,16297,5289,5464,49892,32721,136577,317.28,204.32,402.12,465.77,833.00,261.15,267.49,2523.41,1625.49
Fingal,7311,6170,11775,14519,21414,7741,6978,41952,51754,169614,205.44,164.28,307.47,343.54,516.00,187.47,162.46,994.53,1318.82
Galway City,1685,1134,2214,2559,4639,1826,2008,14779,15662,46506,91.04,58.95,108.98,124.35,218.98,77.97,88.00,650.84,780.85
Galway County,10833,5241,9541,8843,16152,5339,4889,25331,28899,115068,2450.74,1085.70,1922.34,1677.01,3041.88,940.16,856.91,4130.52,5194.83
Kerry,7819,4821,8789,7549,12339,4247,4030,18284,31436,99314,1587.11,901.60,1578.00,1223.93,1980.82,637.95,641.71,2810.23,5038.71
Kildare,7041,5439,10493,12072,16861,5836,5745,28508,39596,131591,548.64,394.69,783.94,811.07,1127.82,375.45,345.54,1606.11,2906.73
Kilkenny,4890,3397,6451,5729,8324,3021,2534,12242,16585,63173,946.42,667.82,1266.59,1033.30,1489.69,573.83,453.59,2097.49,2771.23
Laoighis,3766,2413,4627,4664,6714,2383,1977,8360,16616,51520,871.08,497.73,911.66,858.68,1279.50,439.42,356.97,1467.15,3017.82
Leitrim,1976,1162,2240,1850,2766,940,930,3965,5693,21522,818.93,430.92,861.60,664.46,941.22,294.60,286.49,1204.91,1696.79
Limerick City,3527,2325,3871,3129,4814,1545,1259,6376,10350,37196,387.00,238.13,380.62,286.06,449.95,149.65,126.84,638.38,1143.36
Limerick County,5926,3643,7483,7038,11761,3999,3552,17685,26071,87158,1111.55,679.11,1321.25,1169.53,1805.43,597.56,538.39,2228.21,4049.00
Longford,2441,1258,2371,2011,3293,1209,919,3963,7876,25341,590.84,288.64,542.19,443.22,692.40,252.21,184.30,786.92,1619.11
Louth,7565,5033,8454,7009,9510,3241,3108,13959,21060,78939,400.72,278.45,481.51,392.39,501.60,178.77,169.48,758.80,1138.23
Mayo,10212,4732,8194,6934,13210,4070,3166,16078,22109,88705,2152.07,879.47,1504.65,1207.93,2198.21,617.46,497.62,2431.26,3711.24
Meath,7651,5483,10527,10687,15634,5610,4868,22044,34157,116661,742.96,480.68,893.39,839.69,1195.91,401.99,357.02,1526.23,2762.05
Monaghan,4865,3093,4781,3357,5394,1695,1601,6402,8532,39720,959.52,565.60,910.78,605.98,936.48,292.35,256.66,1067.81,1404.83
Offaly,4446,2912,5032,4881,6686,2023,1797,7346,14711,49834,821.15,500.43,894.80,852.18,1125.56,355.33,291.29,1193.76,2565.42
Roscommon,3811,2273,4345,3801,6448,1948,1661,7777,11477,43541,1088.72,641.49,1167.64,1008.53,1668.48,492.95,397.83,1867.77,2666.55
Sligo,2963,1896,3643,3494,5355,1833,1668,8615,13928,43395,659.21,385.82,735.09,692.35,1016.53,318.71,299.39,1374.07,2418.75
South Dublin,14268,9697,16125,16502,22788,7202,6444,35202,40683,168911,464.61,293.74,485.56,483.13,665.16,195.13,174.59,993.21,1144.85
Tipperary,8425,5744,10471,9995,14983,4740,3721,17201,30984,106264,1455.51,978.11,1759.45,1635.23,2455.38,766.58,632.62,2738.74,5078.49
Waterford City,2024,2161,3205,2823,3484,1178,922,5124,9584,30505,302.99,285.72,405.29,324.88,409.15,132.28,93.35,536.00,1210.43
Waterford County,3361,2513,4228,3803,5781,1953,1791,8384,12493,44307,789.95,541.08,845.45,730.47,1171.57,421.20,386.42,1639.45,2574.44
Westmeath,4246,2624,4873,4896,7131,2334,2104,10109,17105,55422,849.13,525.15,1030.12,953.64,1357.16,450.04,385.98,1713.67,3235.11
Wexford,10908,6495,11065,10000,13573,4662,3695,15508,21447,97353,1507.85,861.27,1468.20,1268.13,1740.58,608.89,484.71,1998.02,2462.31
Wicklow,6102,4336,7823,7480,11087,3969,3451,19774,24764,88786,640.71,401.77,709.54,659.49,949.70,344.08,276.64,1534.49,2683.45

In [9]:
population = df['Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_21_And_over_2011']/(
                df['Perc_Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_21_And_over_2011']/100.0)
df_ages['population'] = population.apply(np.int64)
df_ages

,ED_NAME,COUNTY,NUTS_II,NUTS_III,Planning Region,Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Under_15_Years_2011,Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_15_2011,Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_16_2011,Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_17_2011,Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_18_2011,...,Perc_Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Under_15_Years_2011,Perc_Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_15_2011,Perc_Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_16_2011,Perc_Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_17_2011,Perc_Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_18_2011,Perc_Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_19_2011,Perc_Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_20_2011,Perc_Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_21_And_over_2011,Perc_Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Not_Stated_2011,population
0,001 Carlow Urban,Carlow,SE,South-East,Southern,230,155,242,174,266,...,8.27,5.57,8.70,6.26,9.56,3.70,3.13,15.25,39.55,2780
1,002 Graigue Urban,Carlow,SE,South-East,Southern,89,53,80,59,78,...,10.09,6.01,9.07,6.69,8.84,4.20,1.70,11.56,41.84,882
2,003 Clonmore,Carlow,SE,South-East,Southern,30,16,35,27,32,...,8.20,4.37,9.56,7.38,8.74,5.19,4.64,11.48,40.44,365
3,004 Hacketstown,Carlow,SE,South-East,Southern,55,31,71,62,71,...,7.83,4.42,10.11,8.83,10.11,2.56,2.42,12.68,41.03,701
4,005 Haroldstown,Carlow,SE,South-East,Southern,13,6,11,15,18,...,7.60,3.51,6.43,8.77,10.53,3.51,1.75,11.70,46.20,170
5,006 Kineagh,Carlow,SE,South-East,Southern,25,14,20,22,22,...,11.79,6.60,9.43,10.38,10.38,5.19,4.25,10.38,31.60,211
6,007 Rahill,Carlow,SE,South-East,Southern,40,22,43,42,49,...,8.87,4.88,9.53,9.31,10.86,6.43,3.33,12.42,34.37,450
7,008 Rathvilly,Carlow,SE,South-East,Southern,48,25,59,58,58,...,8.73,4.55,10.73,10.55,10.55,4.55,3.64,9.64,37.09,549
8,009 Tiknock,Carlow,SE,South-East,Southern,17,17,24,16,19,...,7.73,7.73,10.91,7.27,8.64,9.09,4.55,12.73,31.36,219
9,010 Williamstown,Carlow,SE,South-East,Southern,15,11,31,26,18,...,7.11,5.21,14.69,12.32,8.53,4.27,1.42,17.06,29.38,211
10,011 Agha,Carlow,SE,South-East,Southern,12,10,23,20,28,...,5.24,4.37,10.04,8.73,12.23,4.80,2.62,18.34,33.62,229
11,012 Ballinacarrig,Carlow,SE,South-East,Southern,24,26,53,41,68,...,3.62,3.92,7.99,6.18,10.26,5.13,3.47,23.98,35.44,663
12,013 Ballintemple,Carlow,SE,South-East,Southern,57,39,47,34,65,...,15.36,10.51,12.67,9.16,17.52,5.93,2.96,16.17,9.70,371
13,014 Ballon,Carlow,SE,South-East,Southern,39,22,42,39,59,...,8.53,4.81,9.19,8.53,12.91,6.13,4.38,17.29,28.23,456
14,015 Ballyellin,Carlow,SE,South-East,Southern,45,11,46,30,45,...,16.54,4.04,16.91,11.03,16.54,5.88,5.51,15.07,8.46,272
15,016 Ballymoon,Carlow,SE,South-East,Southern,11,4,29,15,27,...,4.82,1.75,12.72,6.58,11.84,4.39,2.63,13.16,42.11,227
16,017 Borris,Carlow,SE,South-East,Southern,111,40,115,73,123,...,14.86,5.35,15.39,9.77,16.47,5.76,5.49,17.14,9.77,746
17,018 Burton Hall,Carlow,SE,South-East,Southern,15,6,25,16,32,...,5.12,2.05,8.53,5.46,10.92,2.73,6.48,26.28,32.42,292
18,019 Carlow Rural,Carlow,SE,South-East,Southern,422,309,611,637,1057,...,5.01,3.67,7.26,7.57,12.56,5.20,4.61,21.81,32.30,8413
19,020 Clogrenan,Carlow,SE,South-East,Southern,55,34,77,48,66,...,8.46,5.23,11.85,7.38,10.15,4.00,4.46,14.00,34.46,649
20,021 Clonegall,Carlow,SE,South-East,Southern,96,73,83,58,76,...,14.55,11.06,12.58,8.79,11.52,4.70,3.79,18.03,15.00,660
21,022 Corries,Carlow,SE,South-East,Southern,38,27,44,39,56,...,10.38,7.38,12.02,10.66,15.30,4.10,2.46,17.76,19.95,365
22,023 Cranemore,Carlow,SE,South-East,Southern,67,34,54,49,110,...,9.45,4.80,7.62,6.91,15.51,4.94,5.50,18.05,27.22,709
23,024 Fennagh,Carlow,SE,South-East,Southern,31,21,38,34,57,...,6.75,4.58,8.28,7.41,12.42,3.70,4.14,15.69,37.04,458
24,025 Garryhill,Carlow,SE,South-East,Southern,25,20,35,30,46,...,6.46,5.17,9.04,7.75,11.89,2.58,3.36,14.99,38.76,386
25,026 Grangeford,Carlow,SE,South-East,Southern,17,15,32,20,20,...,5.63,4.97,10.60,6.62,6.62,3.64,4.97,20.53,36.42,301
26,027 Johnstown,Carlow,SE,South-East,Southern,20,17,34,30,39,...,5.21,4.43,8.85,7.81,10.16,5.47,4.43,16.41,37.24,383
27,028 Kellistown,Carlow,SE,South-East,Southern,35,23,58,46,89,...,5.53,3.63,9.16,7.27,14.06,3.95,3.32,18.17,34.91,632
28,029 Kilbride,Carlow,SE,South-East,Southern,29,17,40,20,44,...,9.21,5.40,12.70,6.35,13.97,3.81,4.44,18.10,26.03,314
29,030 Killedmond,Carlow,SE,South-East,Southern,37,17,33,25,32,...,12.85,5.90,11.46,8.68,11.11,4.86,4.17,20.83,20.14,288
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3376,044 Lisnaveane,Monaghan,BMW,Border,North and West,51,35,46,21,38,...,19.17,13.16,17.29,7.89,14.29,3.76,5.26,10.90,8.27,266
3377,045 Newbliss,Monaghan,BMW,Border,North and West,62,54,100,54,85,...,11.38,9.91,18.35,9.91,15.60,5.69,5.32,20.37,3.49,544
3378,046 St. Tierney,Monaghan,BMW,Border,North and West,26,14,29,29,50,...,10.08,5.43,11.24,11.24,19.38,2.71,6.20,14.34,19.38,258
3379,047 Anketell Grove,Monaghan,BMW,Border,North and West,60,50,75,37,80,...,8.22,6.85,10.27,5.07,10.96,4.79,4.11,11.10,38.63,729
3380,048 Bellanode,Monaghan,BMW,Border,North and West,110,58,87,77,91,...,10.39,5.48,8.22,7.27,8.59,2.17,2.83,17.00,38.05,1058
3381,049 Bragan,Monaghan,BMW,Border,North and West,29,14,20,10,31,...,15.03,7.25,10.36,5.18,16.06,2.07,2.59,8.29,33.16,193
3382,050 Caddagh,Monaghan,BMW,Border,North and West,46,29,61,25,52,...,14.24,8.98,18.89,7.74,16.10,2.79,1.24,16.41,13.62,322
3383,051 Castleshane,Monaghan,BMW,Border,North and West,42,34,77,45,67,...,6.77,5.48,12.42,7.26,10.81,4.35,4.84,13.06,35.00,620
3384,052 Clones,Monaghan,BMW,Border,North and West,42,43,33,21,22,...,13.08,13.40,10.28,6.54,6.85,4.67,4.05,13.40,27.73,320
3385,053 Clontibret,Monaghan,BMW,Border,North and West,73,57,50,31,91,...,15.67,12.23,10.73,6.65,19.53,6.44,3.65,17.81,7.30,466
3386,054 Derrygorry,Monaghan,BMW,Border,North and West,13,11,21,19,21,...,6.84,5.79,11.05,10.00,11.05,2.63,3.16,11.05,38.42,190
3387,055 Drumhillagh,Monaghan,BMW,Border,North and West,90,49,77,63,65,...,20.22,11.01,17.30,14.16,14.61,2.92,4.27,13.03,2.47,445
3388,056 Drumsnat,Monaghan,BMW,Border,North and West,78,66,86,51,80,...,12.26,10.38,13.52,8.02,12.58,4.25,2.20,16.04,20.75,635
3389,057 Emyvale,Monaghan,BMW,Border,North and West,102,67,78,77,129,...,12.98,8.52,9.92,9.80,16.41,4.45,4.96,15.39,17.56,786
3390,058 Enagh,Monaghan,BMW,Border,North and West,21,26,28,22,34,...,6.42,7.95,8.56,6.73,10.40,3.67,4.59,17.13,34.56,326
3391,059 Figullar,Monaghan,BMW,Border,North and West,21,16,23,20,26,...,7.07,5.39,7.74,6.73,8.75,4.38,4.38,15.82,39.73,297
3392,060 Glaslough,Monaghan,BMW,Border,North and West,31,33,58,31,58,...,5.58,5.94,10.43,5.58,10.43,2.52,2.70,16.55,40.29,555
3393,061 Killylough,Monaghan,BMW,Border,North and West,68,29,47,18,46,...,17.39,7.42,12.02,4.60,11.76,3.07,4.09,13.55,26.09,391
3394,062 Kilmore,Monaghan,BMW,Border,North and West,40,21,36,29,48,...,11.24,5.90,10.11,8.15,13.48,4.49,2.53,16.29,27.81,356
3395,063 Monaghan Rural,Monaghan,BMW,Border,North and West,336,278,419,318,627,...,8.47,7.01,10.56,8.02,15.81,4.64,4.74,17.07,23.68,3966
3396,064 Rackwallace,Monaghan,BMW,Border,North and West,83,64,73,75,98,...,14.07,10.85,12.37,12.71,16.61,4.41,4.75,18.81,5.42,590
3397,065 Scotstown,Monaghan,BMW,Border,North and West,67,59,63,53,82,...,9.17,8.07,8.62,7.25,11.22,2.74,2.87,13.00,37.07,730
3398,066 Shanmullagh,Monaghan,BMW,Border,North and West,27,9,18,11,15,...,18.75,6.25,12.50,7.64,10.42,2.08,2.78,6.25,33.33,144
3399,067 Sheskin,Monaghan,BMW,Border,North and West,44,39,51,34,35,...,10.71,9.49,12.41,8.27,8.52,1.70,1.95,10.95,36.01,410
3400,068 Tedavnet,Monaghan,BMW,Border,North and West,68,55,75,35,97,...,11.85,9.58,13.07,6.10,16.90,3.31,2.96,13.07,23.17,573
3401,069 Tehallan,Monaghan,BMW,Border,North and West,60,69,66,45,87,...,10.15,11.68,11.17,7.61,14.72,4.91,4.40,18.61,16.75,591
3402,070 Tullycorbet,Monaghan,BMW,Border,North and West,84,55,73,44,63,...,19.22,12.59,16.70,10.07,14.42,3.66,3.43,16.02,3.89,436
3403,701 Ballynakill (part)(070)/Kilbarry (part)(074),Waterford County,SE,South-East,Southern,10,20,38,34,43,...,2.33,4.65,8.84,7.91,10.00,3.02,6.28,22.79,34.19,430
3404,702 Bencorr(022)/Derrycunlagh(028)/Derrylea(027),Galway County,BMW,West,North and West,25,21,26,29,42,...,6.30,5.29,6.55,7.30,10.58,4.28,4.79,23.17,31.74,397
3405,703 Aghalateeve(027)/Aghavoghill(029)/Aghanlis...,Leitrim,BMW,Border,North and West,41,21,36,36,28,...,12.97,6.65,11.39,11.39,8.86,2.85,2.85,14.56,28.48,315

In [10]:
df_ages.groupby('COUNTY').sum()

,Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Under_15_Years_2011,Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_15_2011,Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_16_2011,Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_17_2011,Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_18_2011,Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_19_2011,Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_20_2011,Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_21_And_over_2011,Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Not_Stated_2011,Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Total_2011,Perc_Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Under_15_Years_2011,Perc_Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_15_2011,Perc_Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_16_2011,Perc_Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_17_2011,Perc_Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_18_2011,Perc_Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_19_2011,Perc_Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_20_2011,Perc_Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_21_And_over_2011,Perc_Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Not_Stated_2011,population
COUNTY,,,,,,,,,,,,,,,,,,,,
Carlow,2642,1676,3146,2740,4192,1649,1379,5864,11942,35230,462.92,277.30,515.88,426.48,641.14,247.49,203.70,840.70,1784.39,35198
Cavan,4595,2525,4404,3608,5436,2228,1998,7259,15423,47476,979.17,506.66,885.93,670.75,978.23,397.32,365.60,1222.99,2893.44,47425
Clare,5054,3029,6049,6332,10413,3411,3102,14827,24704,76921,1185.80,628.56,1272.11,1125.58,1974.55,610.43,572.03,2718.93,5012.07,76851
Cork City,6401,4590,7201,5680,8258,2847,2473,17379,25608,80437,606.62,404.83,639.90,498.59,711.44,250.72,216.46,1633.35,2438.02,80404
Cork County,15457,11123,21561,19833,32946,13061,11501,58648,77411,261541,2525.81,1593.56,2974.30,2359.58,3965.28,1566.62,1366.46,6479.68,9568.75,261372
Donegal,15178,7916,11320,8670,10435,3684,3522,16883,28135,105743,2348.12,1150.51,1626.62,1186.80,1437.24,494.70,462.86,2105.47,4087.87,105674
Dublin City,36650,18766,26796,24211,34571,11368,10670,96134,100053,359219,1756.56,888.81,1245.80,1111.70,1566.28,505.43,467.01,4116.77,4541.71,359133
Dun Laoghaire-Rathdown,5869,3960,7944,9141,16297,5289,5464,49892,32721,136577,317.28,204.32,402.12,465.77,833.00,261.15,267.49,2523.41,1625.49,136542
Fingal,7311,6170,11775,14519,21414,7741,6978,41952,51754,169614,205.44,164.28,307.47,343.54,516.00,187.47,162.46,994.53,1318.82,169603
Galway City,1685,1134,2214,2559,4639,1826,2008,14779,15662,46506,91.04,58.95,108.98,124.35,218.98,77.97,88.00,650.84,780.85,46500
Galway County,10833,5241,9541,8843,16152,5339,4889,25331,28899,115068,2450.74,1085.70,1922.34,1677.01,3041.88,940.16,856.91,4130.52,5194.83,114960
Kerry,7819,4821,8789,7549,12339,4247,4030,18284,31436,99314,1587.11,901.60,1578.00,1223.93,1980.82,637.95,641.71,2810.23,5038.71,99248
Kildare,7041,5439,10493,12072,16861,5836,5745,28508,39596,131591,548.64,394.69,783.94,811.07,1127.82,375.45,345.54,1606.11,2906.73,131532
Kilkenny,4890,3397,6451,5729,8324,3021,2534,12242,16585,63173,946.42,667.82,1266.59,1033.30,1489.69,573.83,453.59,2097.49,2771.23,63123
Laoighis,3766,2413,4627,4664,6714,2383,1977,8360,16616,51520,871.08,497.73,911.66,858.68,1279.50,439.42,356.97,1467.15,3017.82,51468
Leitrim,1976,1162,2240,1850,2766,940,930,3965,5693,21522,818.93,430.92,861.60,664.46,941.22,294.60,286.49,1204.91,1696.79,21493
Limerick City,3527,2325,3871,3129,4814,1545,1259,6376,10350,37196,387.00,238.13,380.62,286.06,449.95,149.65,126.84,638.38,1143.36,37181
Limerick County,5926,3643,7483,7038,11761,3999,3552,17685,26071,87158,1111.55,679.11,1321.25,1169.53,1805.43,597.56,538.39,2228.21,4049.00,87089
Longford,2441,1258,2371,2011,3293,1209,919,3963,7876,25341,590.84,288.64,542.19,443.22,692.40,252.21,184.30,786.92,1619.11,25320
Louth,7565,5033,8454,7009,9510,3241,3108,13959,21060,78939,400.72,278.45,481.51,392.39,501.60,178.77,169.48,758.80,1138.23,78927
Mayo,10212,4732,8194,6934,13210,4070,3166,16078,22109,88705,2152.07,879.47,1504.65,1207.93,2198.21,617.46,497.62,2431.26,3711.24,88630
Meath,7651,5483,10527,10687,15634,5610,4868,22044,34157,116661,742.96,480.68,893.39,839.69,1195.91,401.99,357.02,1526.23,2762.05,116621
Monaghan,4865,3093,4781,3357,5394,1695,1601,6402,8532,39720,959.52,565.60,910.78,605.98,936.48,292.35,256.66,1067.81,1404.83,39689
Offaly,4446,2912,5032,4881,6686,2023,1797,7346,14711,49834,821.15,500.43,894.80,852.18,1125.56,355.33,291.29,1193.76,2565.42,49790
Roscommon,3811,2273,4345,3801,6448,1948,1661,7777,11477,43541,1088.72,641.49,1167.64,1008.53,1668.48,492.95,397.83,1867.77,2666.55,43484
Sligo,2963,1896,3643,3494,5355,1833,1668,8615,13928,43395,659.21,385.82,735.09,692.35,1016.53,318.71,299.39,1374.07,2418.75,43353
South Dublin,14268,9697,16125,16502,22788,7202,6444,35202,40683,168911,464.61,293.74,485.56,483.13,665.16,195.13,174.59,993.21,1144.85,168885
Tipperary,8425,5744,10471,9995,14983,4740,3721,17201,30984,106264,1455.51,978.11,1759.45,1635.23,2455.38,766.58,632.62,2738.74,5078.49,106189
Waterford City,2024,2161,3205,2823,3484,1178,922,5124,9584,30505,302.99,285.72,405.29,324.88,409.15,132.28,93.35,536.00,1210.43,30483
Waterford County,3361,2513,4228,3803,5781,1953,1791,8384,12493,44307,789.95,541.08,845.45,730.47,1171.57,421.20,386.42,1639.45,2574.44,44265
Westmeath,4246,2624,4873,4896,7131,2334,2104,10109,17105,55422,849.13,525.15,1030.12,953.64,1357.16,450.04,385.98,1713.67,3235.11,55373
Wexford,10908,6495,11065,10000,13573,4662,3695,15508,21447,97353,1507.85,861.27,1468.20,1268.13,1740.58,608.89,484.71,1998.02,2462.31,97291
Wicklow,6102,4336,7823,7480,11087,3969,3451,19774,24764,88786,640.71,401.77,709.54,659.49,949.70,344.08,276.64,1534.49,2683.45,88746

## Transformações

In [11]:
# Juntar idades em intervalos
lista = [7, 18, 99]
lista[0]
lista[2]
lista[1]

df['Pop_Edu_Ceased_Aged_15_To_17_2011'] = (df['Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_15_2011']
                                          +df['Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_16_2011']
                                          +df['Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_17_2011'])
df.head()

,CODE,ED_NAME,COUNTY,NUTS_II,NUTS_III,Planning Region,Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Under_15_Years_2011,Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_15_2011,Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_16_2011,Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_17_2011,...,Perc_Persons_15_Plus_By_Highest_Level_Of_Edu_Technical_Or_Vocational_2011,Perc_Persons_15_Plus_By_Highest_Level_Of_Edu_Non_Degree_2006,Perc_Persons_15_Plus_By_Highest_Level_Of_Edu_Non_Degree_2011,Perc_Persons_15_Plus_By_Highest_Level_Of_Edu_Degree_Level_2006,Perc_Persons_15_Plus_By_Highest_Level_Of_Edu_Degree_Level_2011,Perc_Persons_15_Plus_By_Highest_Level_Of_Edu_Post_Grad_Level_2006,Perc_Persons_15_Plus_By_Highest_Level_Of_Edu_Post_Grad_Level_2011,Perc_Persons_15_Plus_By_Highest_Level_Of_Edu_Not_Stated_2006,Perc_Persons_15_Plus_By_Highest_Level_Of_Edu_Not_Stated_2011,Pop_Edu_Ceased_Aged_15_To_17_2011
0,1,001 Carlow Urban,Carlow,SE,South-East,Southern,230,155,242,174,...,9.06,7.30,5.43,7.40,8.49,4.63,5.75,5.41,8.85,571
1,2,002 Graigue Urban,Carlow,SE,South-East,Southern,89,53,80,59,...,10.32,7.50,6.69,4.33,7.14,2.60,2.83,5.19,9.30,192
2,3,003 Clonmore,Carlow,SE,South-East,Southern,30,16,35,27,...,9.84,13.80,8.20,5.92,13.93,2.25,3.55,3.94,3.55,78
3,4,004 Hacketstown,Carlow,SE,South-East,Southern,55,31,71,62,...,8.97,4.84,7.69,4.70,8.26,2.28,3.28,1.61,10.68,164
4,5,005 Haroldstown,Carlow,SE,South-East,Southern,13,6,11,15,...,8.77,12.21,13.45,5.81,10.53,1.16,2.34,3.49,3.51,32

In [12]:
# Pega o nome de todas as colunas que representam uma idade específica de parada de estudos
columns_names = list(df)
aged_names = [name for name in columns_names if 'Ceased_Aged_' in name and 'Ceased_Aged_21_And_over' not in name]
aged_names

['Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_15_2011',
 'Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_16_2011',
 'Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_17_2011',
 'Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_18_2011',
 'Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_19_2011',
 'Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_20_2011',
 'Perc_Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_15_2011',
 'Perc_Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_16_2011',
 'Perc_Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_17_2011',
 'Perc_Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_18_2011',
 'Perc_Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_19_2011',
 'Perc_Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_20_2011',
 'Pop_Edu_Ceased_Aged_15_To_17_2011']

In [13]:
# Exclui a coluna que criamos anteriormente
aged_names.pop()
aged_names

['Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_15_2011',
 'Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_16_2011',
 'Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_17_2011',
 'Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_18_2011',
 'Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_19_2011',
 'Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_20_2011',
 'Perc_Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_15_2011',
 'Perc_Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_16_2011',
 'Perc_Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_17_2011',
 'Perc_Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_18_2011',
 'Perc_Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_19_2011',
 'Perc_Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_20_2011']

In [14]:
# Cria novas colunas no padrão da que criamos e exclui as colunas originais
pop_aged_name = 'Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_{}_2011'
perc_aged_name = 'Perc_Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_{}_2011'

pop_15_to_17_2011 = 'Pop_Edu_Ceased_Aged_15_To_17_2011'
pop_18_to_20_2011 = 'Pop_Edu_Ceased_Aged_18_To_20_2011'
perc_15_to_17_2011 = 'Perc_Edu_Ceased_Aged_15_To_17'
perc_18_to_20_2011 = 'Perc_Edu_Ceased_Aged_18_To_20'

to_be_removed = []
number_of_rows = len(df)

df[pop_15_to_17_2011] = pd.Series(np.array([0]*number_of_rows))
df[perc_15_to_17_2011] = pd.Series(np.array([0]*number_of_rows))
for n in range(15, 18):
    df[pop_15_to_17_2011] = df[pop_15_to_17_2011] + df[pop_aged_name.format(n)]
    to_be_removed.append(pop_aged_name.format(n))
    df[perc_15_to_17_2011] = df[perc_15_to_17_2011] + df[perc_aged_name.format(n)]
    to_be_removed.append(perc_aged_name.format(n))
    
df[pop_18_to_20_2011] = pd.Series(np.array([0]*number_of_rows))
df[perc_18_to_20_2011] = pd.Series(np.array([0]*number_of_rows))
for n in range(18, 21):
    df[pop_18_to_20_2011] = df[pop_18_to_20_2011] + df[pop_aged_name.format(n)]
    to_be_removed.append(pop_aged_name.format(n))
    df[perc_18_to_20_2011] = df[perc_18_to_20_2011] + df[perc_aged_name.format(n)]
    to_be_removed.append(perc_aged_name.format(n))
    
print("Columns to be removed: ", to_be_removed)

Columns to be removed:  ['Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_15_2011', 'Perc_Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_15_2011', 'Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_16_2011', 'Perc_Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_16_2011', 'Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_17_2011', 'Perc_Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_17_2011', 'Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_18_2011', 'Perc_Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_18_2011', 'Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_19_2011', 'Perc_Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_19_2011', 'Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_20_2011', 'Perc_Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_20_2011']

In [15]:
df = df.drop(to_be_removed, axis=1)
df = df.drop(['CODE'], axis=1)
df.head()

,ED_NAME,COUNTY,NUTS_II,NUTS_III,Planning Region,Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Under_15_Years_2011,Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Aged_21_And_over_2011,Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Not_Stated_2011,Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Total_2011,Perc_Pop_Aged_15_And_Over_By_Age_Of_Edu_Ceased_Under_15_Years_2011,...,Perc_Persons_15_Plus_By_Highest_Level_Of_Edu_Degree_Level_2006,Perc_Persons_15_Plus_By_Highest_Level_Of_Edu_Degree_Level_2011,Perc_Persons_15_Plus_By_Highest_Level_Of_Edu_Post_Grad_Level_2006,Perc_Persons_15_Plus_By_Highest_Level_Of_Edu_Post_Grad_Level_2011,Perc_Persons_15_Plus_By_Highest_Level_Of_Edu_Not_Stated_2006,Perc_Persons_15_Plus_By_Highest_Level_Of_Edu_Not_Stated_2011,Pop_Edu_Ceased_Aged_15_To_17_2011,Perc_Edu_Ceased_Aged_15_To_17,Pop_Edu_Ceased_Aged_18_To_20_2011,Perc_Edu_Ceased_Aged_18_To_20
0,001 Carlow Urban,Carlow,SE,South-East,Southern,230,424,1100,2781,8.27,...,7.40,8.49,4.63,5.75,5.41,8.85,571,20.53,456,16.39
1,002 Graigue Urban,Carlow,SE,South-East,Southern,89,102,369,882,10.09,...,4.33,7.14,2.60,2.83,5.19,9.30,192,21.77,130,14.74
2,003 Clonmore,Carlow,SE,South-East,Southern,30,42,148,366,8.20,...,5.92,13.93,2.25,3.55,3.94,3.55,78,21.31,68,18.57
3,004 Hacketstown,Carlow,SE,South-East,Southern,55,89,288,702,7.83,...,4.70,8.26,2.28,3.28,1.61,10.68,164,23.36,106,15.09
4,005 Haroldstown,Carlow,SE,South-East,Southern,13,20,79,171,7.60,...,5.81,10.53,1.16,2.34,3.49,3.51,32,18.71,27,15.79